@font-face {
  font-family: "popinsregular";
  src: url(../fonts/popinsregular.ttf);
  font-display: swap;
}
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: popinsregular;
  // transition: all 0.8s;
  /* border: 1px solid red; */
}
$color-portfolio: (
  // first option
  //  primary: #ffb300,
  //  background: #111111,
  //  secondary: #2b2a2a,
  //Second option
  primary: #00a6fb,
  background: #454545,
  secondary: #2b2a2a,
  //test color
  // primary: #410585,
  // background: #111111,
  // secondary: #2b2a2a
);
/*Start General*/
body {
  background-image: url(../img/bg5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

html {
  scrollbar-color: map-get($color-portfolio, primary) #e0e0e013;
  scrollbar-width: thin;

}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
}
::selection {
  color: white;
  background: map-get($color-portfolio, primary);
}
span {
  color: white;
}
.freelance #green {
  color: #5be85b;
}
/*End General*/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-box($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin mobile() {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin desktop() {
  @media (min-width: 901px) {
    @content;
  }
}
.button {
  display: inline-block;
  padding-left: 0rem;
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 10rem;
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: darken(map-get($color-portfolio, primary), 0%);
    transition: all 0.8s;
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    &:before {
      width: 100%;
    }
  }
}
