@font-face {
  font-family: "popinsregular";
  src: url(../fonts/popinsregular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: popinsregular;
  /* border: 1px solid red; */
}
$primary-color: #ffb300;
$background-color: #111111;
$secondary-color: #2b2a2a;
/*Start General*/
body {
  width: 100%;
  height: 100%;
  background-color: $background-color;
}
html {
  scrollbar-color: $primary-color #e0e0e013;
  scrollbar-width: thin;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
::selection {
  color: white;
  background: $primary-color;
}
span {
  color: white;
}
/*End General*/
