/*----------Start Projects----------*/
.body-projects {
  height: 100vh;

  & .container-project {
    height: auto;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    & .main-project {
      @include flex-box(space-between, center);
      flex-flow: column nowrap;

      & .title-projects h1 {
        color: white;
        position: relative;
        font-size: calc(3vw + 2rem);
        margin-top: 20px;
        padding-bottom: 30px;

        & span {
          color: map-get($color-portfolio, primary);
        }
      }

      & .projects {
        @include flex-center();
        flex-flow: row wrap;
        width: 80%;
        height: auto;
        margin-bottom: 60px;
        gap: 20px;

        &__project {
          @include flex-center();
          width: 300px;
          height: 200px;
          background-color: rgba(255, 255, 255, 0.1);
          border: 2px solid map-get($color-portfolio, primary);
          font-size: 16px;
          text-align: center;
          border-radius: 11px;
          position: relative;

          .modal-content {
            & .modal-header h3 {
              width: 100%;
              color: white;
              font-size: 25px !important;
              text-shadow: .5px .5px .5px #00a6fb;
            }

            & .modal-body {
              display: flex;
              flex-direction: column;

              & .carousel-item img {
                height: auto;

              }
            }
          }

          & img {
            width: 75px;
            height: 75px;
          }

          & .description {
            @include flex-center();
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.655);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            text-align: center;
            border-radius: 11px;

            & h2 {
              color: black;
              font-size: 16px;
              font-weight: 900;
            }
          }

          & .btn-info {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
          }

          & .modal {
            background-color: rgba(128, 128, 128, 0.361);
            height: 100vh;

            &-content {
              background-color: map-get($color-portfolio, background);
              border: 2px solid map-get($color-portfolio, primary);

              & .modal-title {
                color: black;
              }

              & .close {
                color: red;
              }

              & .modal-body {
                & figure {
                  & img {
                    color: black;
                  }
                }
              }
            }
          }
        }

        &__project:hover .description {
          opacity: 1;
          border-radius: 11px;
        }
      }
    }
  }


}

.modal-backdrop {
  z-index: -1;
}

.main-project .projects__project .modal {
  height: 100% !important;
}

.modal-footer {
  & .boton-livedemo {
    background-color: map-get($color-portfolio, primary);

    &:hover {
      background-color: #00a7fba1;
    }

    &:active {
      background-color: #00a7fb77 !important;
      border-color: #00a7fb77 !important;
    }
  }

  & .boton-github {
    background-color: black;
    color: white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.700);
      color: white;
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.500) !important;
      color: white !important;
      border-color: rgba(0, 0, 0, 0.500) !important;
    }
  }
}

@media (max-width: 900px) {
  .title-projects h1 {
    font-size: calc(3vw + 1.5rem);
  }

  .projects__project {
    width: 250px;
    height: 150px;
  }
}

@media screen and (min-width: 903px) {
  .container-project {
    height: auto;
  }
}

.technologies {
  & h3 {
    color: white;
  }

  & ul {
    @include flex-center();
    gap: 10px;
    flex-flow: row wrap;

    & li {
      background-color: #00a6fb;
      padding: 5px;
      border-radius: 5.5px;
      color: black;
      font-weight: 500;
      font-size: 20px;
      box-shadow: 0px 0px 107px -38px rgba(0, 0, 0, 1);
      -webkit-box-shadow: 0px 0px 107px -38px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 0px 107px -38px rgba(0, 0, 0, 1);
      cursor: context-menu;
      user-select: none;

    }

    .tech {
      &-html:hover {
        background-color: #e44d26;
      }

      &-css:hover {
        background-color: #1572b6;
      }

      &-sass:hover {
        background-color: #cb6699;
      }

      &-bootstrap:hover {
        background-color: #533979;
      }

      &-java-swing:hover {
        background-color: #021d5a;
      }

      &-java:hover {
        background-color: #ea2d2e;
      }

      &-react:hover {
        background-color: #61dafb;
      }

      &-javascript:hover {
        background-color: #e5a228;
      }

    }
  }
}

/*----------End Projects----------*/