/*Start nav*/
@media (max-width: 900px) {
  .container-index__header {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: #2b2a2aad;
    z-index: 2;
    & .nav {
      display: flex;
      justify-content: center;
      width: 100%;
      &__items {
        width: 100%;
        @include flex-box(space-around, center);
        flex-flow: row nowrap;
        text-align: center;
        list-style: none;
        & .active a {
          background-color: map-get($color-portfolio, primary);
        }
        & li {
          width: 100%;
          @include flex-box(space-around, center);
          flex-flow: row nowrap;
          text-align: center;
          list-style: none;
        }
        &__item {
          padding: 2px 0px 2px 0px;
        }
        &__item a {
          width: 70px;
          height: 70px;
          color: white;
          font-size: 30px;
          background-color: #444444;
          border-radius: 50%;
          display: flex;
          flex-flow: column;
          text-decoration: none;
          justify-content: center;
          &:hover {
            background-color: map-get($color-portfolio, primary);
          }
        }
      }
    }
  }
}
@media (min-width: 901px) {
  .nav__items {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 20px;
    list-style: none;
    & .active a {
      background-color: map-get($color-portfolio, primary);
      box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1);
      -webkit-box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1);
      -moz-box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1);
    }
    & li {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      gap: 20px;
      list-style: none;
    }
    &__item a {
      width: 5.5vw;
      height: 5.5vw;
      max-width: 70px;
      max-height: 70px;
      color: white;
      font-size: 30px;
      background-color: map-get($color-portfolio, secondary);
      border-radius: 50%;
      display: flex;
      flex-flow: column;
      text-decoration: none;
      justify-content: center;
      transition: all 0.8s;
      box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1) inset;
      -webkit-box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1) inset;
      -moz-box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1) inset;
      &:hover {
        background-color: map-get($color-portfolio, primary);
        box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 0px 13px -6px rgba(0, 0, 0, 1);
      }
    }
  }
}
/*End nav*/
