@font-face {
  font-family: "popinsregular";
  src: url(../fonts/popinsregular.ttf);
  font-display: swap;
}
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: popinsregular;
  /* border: 1px solid red; */
}

/*Start General*/
body {
  width: 100%;
  height: 100%;
  background-color: #111111;
}

html {
  scrollbar-color: #ffb300 rgba(224, 224, 224, 0.0745098039);
  scrollbar-width: thin;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

::selection {
  color: white;
  background: #ffb300;
}

span {
  color: white;
}

.freelance #green {
  color: #5be85b;
}

/*End General*/
.button {
  display: inline-block;
  padding-left: 0rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 10rem;
  z-index: 1;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #ffb300;
  transition: all 0.8s;
  z-index: -1;
}
.button:hover:before {
  width: 100%;
}

/*Start About*/
@media (max-width: 900px) {
  .container-about {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    align-items: center;
  }
  .container-about .main-about {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }
  .container-about .main-about h1 {
    color: white;
    position: relative;
    font-size: calc(3vw + 2rem);
    top: 50px;
  }
  .container-about .main-about h1 span {
    color: #ffb300;
  }
  .container-about .main-about .figure-about {
    display: flex;
    justify-content: center;
  }
  .container-about .main-about .figure-about img {
    min-width: 100px;
    width: 100%;
    height: auto;
  }
  .container-about .main-about .info-about {
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 20px 0px 20px;
    gap: 10px;
  }
  .container-about .main-about .info-about a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid #ffb300;
    border-radius: 11px;
  }
  .container-about .main-about .info-about a span {
    font-size: 30px;
    padding: 0px 1% 0px;
  }
  .container-about .main-about .info-about a i {
    background-color: #ffb300;
    width: 70px;
    border: 10px solid #ffb300;
    border-radius: 10px;
    height: 100%;
    min-height: 50px;
  }
  .container-about .main-about .info-about h2 {
    color: white;
    font-size: 35px;
  }
  .container-about .main-about .info-about .container-info {
    display: flex;
    flex-flow: row nowrap;
    gap: 5vw;
    justify-content: space-between;
  }
  .container-about .main-about .info-about .container-info p {
    color: white;
  }
  .container-about .main-about .info-about .container-info h3 {
    color: rgba(255, 255, 255, 0.504);
    font-weight: 600;
  }
  .container-about .main-about .info-about .container-info .row1,
  .container-about .main-about .info-about .container-info .row2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
  }
}
@media (min-width: 901px) {
  .container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column nowrap;
  }
  .container-about h1 {
    padding-top: 20px;
    font-size: calc(3vw + 1rem);
  }
  .container-about .main-about .title h1 {
    color: white;
  }
  .container-about .main-about .title h1 span {
    color: #ffb300;
  }
  .main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-flow: column nowrap;
  }
  .content-about {
    height: 100%;
    width: 90vw;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    margin-bottom: 100px;
  }
  .content-about .info-about {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    justify-content: center;
  }
  .content-about .info-about .title {
    color: white;
    font-size: 35px;
  }
  .content-about .info-about .container-info {
    display: flex;
    flex-flow: row nowrap;
    gap: 5vw;
    justify-content: space-between;
  }
  .container-info p {
    color: white;
  }
  .container-info h3 {
    color: rgba(255, 255, 255, 0.504);
    font-weight: 600;
  }
  .container-info .row1,
  .container-info .row2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
  }
  .info-about a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid #ffb300;
    border-radius: 11px;
  }
  .info-about a span {
    font-size: 30px;
    padding: 0px 1% 0px;
  }
  .info-about a i {
    background-color: #ffb300;
    width: 70px;
    border: 15px solid #ffb300;
    border-radius: 10px;
    height: 100%;
  }
  .figure-about {
    display: flex;
    align-items: center;
    height: 100%;
    width: 600px;
  }
  .figure-about img {
    min-width: 400px;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 304px) {
  .info-about a i {
    height: 95px !important;
    padding: 10px;
  }
}
/*End About*/
/*Start Contact*/
@media (max-width: 900px) {
  .container-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-flow: column nowrap;
  }
  .container-contact h1 {
    color: white;
    position: relative;
    font-size: calc(3vw + 2rem);
    margin-top: 50px;
    padding-bottom: 40px;
    text-align: center;
  }
  .container-contact h1 span {
    color: #ffb300;
  }
  .container-contact .contact-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    margin-top: 35px;
    align-items: center;
  }
  .container-contact .contact-container .form-contact {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }
  .container-contact .contact-container .form-contact .info-contact {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }
  .container-contact .contact-container .form-contact .info-contact input {
    width: 60vw;
    border-radius: 20px;
    background-color: #2b2a2a;
    border: 1px solid #2b2a2a;
    padding: 5px 0px 5px 20px;
    font-size: 18px;
    color: white;
  }
  .container-contact .contact-container .form-contact .info-contact input:focus {
    outline: none;
    border: 1px solid #ffb300;
  }
  .container-contact .contact-container .form-contact .message-contact textarea {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 18px;
    width: 60vw;
    max-width: 70vw;
    border-radius: 20px 20px 0px 20px;
    background-color: #2b2a2a;
    resize: vertical;
    max-height: 400px;
    min-height: 100px;
    border: 1px solid #2b2a2a;
    color: white;
  }
  .container-contact .contact-container .form-contact .message-contact textarea:focus {
    outline: none;
    border: 1px solid #ffb300;
  }
  .container-contact .contact-container .form-contact .button-contact {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container-contact .contact-container .form-contact .button-contact .buttonmsg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    background-color: #111111;
    flex-flow: row nowrap;
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid #ffb300;
    border-radius: 11px;
    gap: 10px;
    height: auto;
  }
  .container-contact .contact-container .form-contact .button-contact .buttonmsg i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb300;
    width: 65px;
    height: 100%;
    border: 30px solid #ffb300;
    border-radius: 10px;
    min-height: 65px;
    max-height: 78px;
  }
  .container-contact .contact-container .form-contact .button-contact .buttonmsg span {
    padding-left: 5px;
  }
  .container-contact .contact-container .form-contact .message-contact {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
  }
  .container-contact .contact-container .form-contact .message-contact h2 {
    color: rgba(255, 255, 255, 0.587);
    padding-left: 20px;
    font-size: 18px;
    font-weight: 200;
  }
}
@media (min-width: 901px) {
  .container-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-flow: column nowrap;
  }
  .container-contact h1 {
    color: white;
    position: relative;
    font-size: calc(3vw + 1rem);
    margin-top: 50px;
    padding-bottom: 40px;
    text-align: center;
  }
  .container-contact h1 span {
    color: #ffb300;
  }
  .container-contact .contact-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    margin-top: 35px;
  }
  .container-contact .contact-container .form-contact {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }
  .container-contact .contact-container .form-contact .subject input {
    width: 100%;
  }
  .container-contact .contact-container .form-contact .message-contact textarea {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 18px;
    width: 60vw;
    max-width: 70vw;
    border-radius: 20px 20px 0px 20px;
    background-color: #2b2a2a;
    resize: vertical;
    max-height: 360px;
    min-height: 100px;
    border: 1px solid #2b2a2a;
    color: white;
  }
  .container-contact .contact-container .form-contact .message-contact textarea:focus {
    outline: none;
    border: 1px solid #ffb300;
  }
  .container-contact .contact-container .form-contact .info-contact {
    width: 60vw;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  .container-contact .contact-container .form-contact .info-contact input {
    width: 100%;
    border-radius: 20px;
    background-color: #2b2a2a;
    border: 1px solid #2b2a2a;
    padding: 5px 0px 5px 20px;
    font-size: 18px;
    color: white;
  }
  .container-contact .contact-container .form-contact .info-contact input:focus {
    outline: none;
    border: 1px solid #ffb300;
  }
  .container-contact .contact-container .form-contact .message-contact {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
  }
  .container-contact .contact-container .form-contact .message-contact h2 {
    color: rgba(255, 255, 255, 0.587);
    padding-left: 20px;
    font-size: 18px;
    font-weight: 200;
  }
  .container-contact .contact-container .form-contact .button-contact {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .container-contact .contact-container .form-contact .button-contact .buttonmsg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: #111111;
    flex-flow: row nowrap;
    font-size: 25px;
    color: white;
    text-align: center;
    border: 1px solid #ffb300;
    border-radius: 11px;
  }
  .container-contact .contact-container .form-contact .button-contact .buttonmsg i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb300;
    width: 60px;
    height: 100%;
    border: 20px solid #ffb300;
    border-radius: 10px;
    min-height: 65px;
    max-height: 75px;
  }
  .container-contact .contact-container .form-contact .button-contact .buttonmsg span {
    padding-left: 5px;
  }
}
@media (max-width: 489px) {
  .buttonmsg i {
    height: 76px;
    width: 76px;
    border: none;
  }
}
/*End Contact*/
/*----------Start Projects----------*/
.main-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  height: 100%;
  flex-flow: column nowrap;
}
.main-project .title-projects h1 {
  color: white;
  position: relative;
  font-size: calc(3vw + 1rem);
  margin-top: 20px;
  padding-bottom: 30px;
}
.main-project .title-projects h1 span {
  color: #ffb300;
}
.main-project .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  height: auto;
  margin-bottom: 60px;
  gap: 20px;
}
.main-project .projects__project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffb300;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 11px;
  position: relative;
}
.main-project .projects__project img {
  width: 75px;
  height: 75px;
}
.main-project .projects__project .description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.655);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  border-radius: 11px;
}
.main-project .projects__project:hover .description {
  opacity: 1;
  border-radius: 11px;
}

@media (max-width: 900px) {
  .title-projects h1 {
    font-size: calc(3vw + 1.5rem);
  }
  .projects__project {
    width: 250px;
    height: 150px;
  }
}
/*----------End Projects----------*/
/*----------Start Skills----------*/
@media (max-width: 900px) {
  .container-skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-flow: column nowrap;
  }
  .container-skills h1 {
    color: white;
    position: relative;
    font-size: calc(3vw + 2rem);
    margin-top: 50px;
    text-align: center;
  }
  .container-skills h1 span {
    color: #ffb300;
  }
  .container-skills .main-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-flow: column nowrap;
  }
  .container-skills .main-skills .content-skills {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
  }
  .container-skills .main-skills .content-skills .skills {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
  }
  .container-skills .main-skills .content-skills .skills .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffb300;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 11px;
    position: relative;
  }
  .container-skills .main-skills .content-skills .skills .skill:active .description {
    opacity: 1;
    border-radius: 11px;
  }
  .container-skills .main-skills .content-skills .skills .skill img {
    width: 85px;
    height: 85px;
    border-radius: 11px;
  }
  .container-skills .main-skills .content-skills .skills .skill .description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.655);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    border-radius: 11px;
    cursor: default;
    user-select: none;
  }
  .container-skills .main-skills .content-skills .skills .skill .description h2 {
    color: #111111;
    font-size: 16px;
    font-weight: 900;
  }
  .container-skills .main-skills .content-skills .categories {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    gap: 5px;
    justify-content: space-around;
    width: 100%;
  }
  .container-skills .main-skills .content-skills .categories a {
    padding: 0px 10px 0px 10px;
    background-color: #444444;
    border-radius: 5px;
    text-align: center;
  }
}
@media (min-width: 901px) {
  .container-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column nowrap;
  }
  .container-skills h1 {
    color: white;
    position: relative;
    font-size: calc(3vw + 1rem);
    margin-top: 50px;
    padding-bottom: 40px;
  }
  .container-skills h1 span {
    color: #ffb300;
  }
  .container-skills .main-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-flow: column nowrap;
  }
  .container-skills .main-skills .content-skills {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    height: 100%;
    width: 90vw;
    max-width: 1000px;
  }
  .container-skills .main-skills .content-skills .categories {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    gap: 5px;
    justify-content: space-around;
    width: 100%;
  }
  .container-skills .main-skills .content-skills .categories a {
    padding: 0px 10px 0px 10px;
    background-color: #444444;
    border-radius: 5px;
    text-align: center;
  }
  .container-skills .main-skills .content-skills .skills {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
  }
  .container-skills .main-skills .content-skills .skills .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffb300;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 11px;
    position: relative;
  }
  .container-skills .main-skills .content-skills .skills .skill img {
    width: 85px;
    height: 85px;
  }
  .container-skills .main-skills .content-skills .skills .skill:hover .description {
    opacity: 1;
    border-radius: 11px;
  }
  .container-skills .main-skills .content-skills .skills .skill .description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.655);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    border-radius: 11px;
    cursor: default;
    user-select: none;
  }
  .container-skills .main-skills .content-skills .skills .skill .description h2 {
    color: #111111;
    font-size: 16px;
    font-weight: 900;
  }
}
/*----------End Skills----------*/
/*index*/
.title-index {
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  color: #ffb300;
  font-size: calc(3vw + 2rem);
}

.presentation h1 {
  font-weight: bold;
  color: #ffb300;
  font-size: calc(3vw + 2rem);
}

@media (max-width: 900px) {
  .container-index {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .container-index__main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .container-index__main .contenedor {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .container-index__main .contenedor .figure-home {
    display: flex;
    justify-content: center;
  }
  .container-index__main .contenedor .figure-home img {
    min-width: 100px;
    width: 100%;
    height: auto;
  }
  .container-index__main .contenedor .presentation h1 {
    text-align: center;
  }
  .container-index__main .contenedor .presentation p {
    font-size: 20px;
    padding: 0px 10vw 0px 10vw;
    color: white;
    text-align: justify;
  }
  .container-index__main .contenedor .presentation a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 40px;
    text-decoration: none;
    color: white;
    border: 1px solid #ffb300;
    border-radius: 11px;
    margin: 10px 10vw 0px 10vw;
  }
  .container-index__main .contenedor .presentation a span {
    padding: 0px 0.5rem;
  }
  .container-index__main .contenedor .presentation .hire__icon {
    height: 100%;
    width: 60px;
    text-align: center;
    background-color: #ffb300;
    border-radius: 9px;
  }
}
@media (min-width: 901px) {
  .container-index {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
  }
  .container-index__header {
    background-color: rgba(17, 17, 17, 0.5960784314);
    height: 100%;
    display: flex;
    position: fixed;
    right: 0;
    align-items: center;
    margin-right: 20px;
  }
  .container-index__main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-flow: column nowrap;
  }
  .container-index__main .contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-flow: row nowrap;
    gap: 5%;
  }
  .container-index__main .contenedor .presentation {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 90px;
  }
  .container-index__main .contenedor .presentation h1 {
    display: flex;
    flex-flow: column nowrap;
    color: #ffb300;
    font-size: calc(2vw + 1rem);
  }
  .container-index__main .contenedor .presentation p {
    max-width: 520px;
    line-height: 25px;
    font-size: 20px;
    color: white;
    text-align: justify;
  }
  .container-index__main .contenedor .presentation a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid #ffb300;
    border-radius: 11px;
  }
  .container-index__main .contenedor .presentation a span {
    padding: 5px 0.5rem 5px;
  }
  .container-index__main .contenedor .presentation a i {
    background-color: #ffb300;
    width: 70px;
    border: 15px solid #ffb300;
    border-radius: 10px;
    height: 100%;
  }
  .container-index__main .contenedor .figure-home {
    display: flex;
    align-items: center;
    height: 100%;
    width: 600px;
  }
  .container-index__main .contenedor .figure-home img {
    min-width: 400px;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 303px) {
  .button .hire__icon {
    height: 122px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*end index*/
/*Footer*/
@media (max-width: 900px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
  }
  .footer__iconos {
    display: flex;
    flex-flow: row nowrap;
  }
  .footer__iconos li {
    display: flex;
    text-align: center;
    gap: 20px;
  }
  .footer__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 40px;
  }
}
@media (min-width: 901px) {
  .footer {
    background-color: #111111;
    width: 100%;
    display: flex;
    bottom: 0;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 2px;
  }
  .footer__iconos {
    display: flex;
    flex-flow: row nowrap;
  }
  .footer__iconos li {
    display: flex;
    text-align: center;
    gap: 20px;
  }
  .footer__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 40px;
  }
}
/*End footer*/
/*Start nav*/
@media (max-width: 900px) {
  .container-index__header {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: rgba(43, 42, 42, 0.6784313725);
    z-index: 2;
  }
  .container-index__header .nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container-index__header .nav__items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    text-align: center;
    list-style: none;
  }
  .container-index__header .nav__items .active a {
    background-color: #ffb300;
  }
  .container-index__header .nav__items li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    text-align: center;
    list-style: none;
  }
  .container-index__header .nav__items__item {
    padding: 2px 0px 2px 0px;
  }
  .container-index__header .nav__items__item a {
    width: 70px;
    height: 70px;
    color: white;
    font-size: 30px;
    background-color: #444444;
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    text-decoration: none;
    justify-content: center;
  }
  .container-index__header .nav__items__item a:hover {
    background-color: #ffb300;
  }
}
@media (min-width: 901px) {
  .nav__items {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 20px;
    list-style: none;
  }
  .nav__items .active a {
    background-color: #ffb300;
  }
  .nav__items li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 20px;
    list-style: none;
  }
  .nav__items__item a {
    width: 5.5vw;
    height: 5.5vw;
    max-width: 70px;
    max-height: 70px;
    color: white;
    font-size: 30px;
    background-color: #2b2a2a;
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    text-decoration: none;
    justify-content: center;
  }
  .nav__items__item a:hover {
    background-color: #ffb300;
  }
}
/*End nav*/

/*# sourceMappingURL=styles.css.map */
